{% extends "base.html" %}
{% load humanize %}

{% block title %}Bank Accounts{% endblock %}

{% block page_title %}Sacco Accounts List{% endblock %}

{% block content %}
<section class="page-head">
	<div class="row">
		<div class="page-nav">
			<button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#newTransaction">
			  <i class="fa fa-plus"></i> New transaction
			</button>
			<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#newAccount">
			  <i class="fa fa-plus"></i> New account
			</button>
		</div>
	</div>
</section>

<section class="page-body">
	<div class="row">
		<div class="accounts-list">
			
			{% if messages %}
			{% for message in messages %}
			<div {% ifequal message.tags "error" %} class="alert alert-danger" {% else %} class="alert alert-{{ message.tags }}" {% endifequal %}>
			{{ message }}
			</div>
			{% endfor %}
			{% endif %}

			<table class="table">
				<thead class="thead-dark">
					<th>Account Name</th>
					<th>Account No</th>
					<th>Balance</th>
					<th>Date Created</th>
					<th class="text-center">Action</th>
				</thead>
				<tbody>
					{% for account in accounts %}
					<tr>
						<td><a href="{% url 'sacco:fetch_account' account.pk %}">{{ account }}</a></td>
						<td>{{ account.account_no }}</td>
						<td>{{ account.balance|intcomma }}</td>
						<td>{{ account.date_created }}</td>
						<td class="text-center">
							<div class="dropdown">
							  <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <i class="fa fa-cog"></i>
							  </button>
							  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							    <a class="dropdown-item" href="{% url 'sacco:edit_account' account.pk %}"><i class="fa fa-edit"></i> Edit</a>
							    <a class="dropdown-item" href="{% url 'sacco:delete_account' account.pk %}" onclick="return confirm('This action is irreversible. Are you sure?');"><i class="fa fa-trash-o"></i> Delete</a>
							  </div>
							</div>
						</td>
					</tr>
					{% empty %}
					<tr>
						<td colspan="4" class="text-center"><h2>No sacco accounts to display!</h2></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</section>

<!-- New Account Modal -->
<div class="modal fade" id="newAccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Account details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" method="POST" action="{% url 'sacco:add_account' %}">
        	{% csrf_token %}
        	<div class="form-group">
				<label>Bank name</label>
				<input type="text" name="sacco_name" class="form-control" placeholder="Sacco name">
			</div>
			<div class="form-group">
				<label>Account name</label>
				<input type="text" name="account_name" class="form-control" placeholder="Account name">
			</div>
			<div class="form-group">
				<label>Account type</label>
				<input type="text" name="account_type" class="form-control" placeholder="Account type">
			</div>
			<div class="form-group">
				<label>Account number</label>
				<input type="text" name="account_no" class="form-control" placeholder="Account number">
			</div>
			<div class="form-group">
				<label>Amount</label>
				<input type="text" name="balance" class="form-control" placeholder="Opening amount">
			</div>
			<div class="input-group date" data-provide="datepicker">
			    <input type="text" class="form-control" data-date-format="yyyy-mm-dd" name="date_created" placeholder="Pick date">
			    <div class="input-group-append">
			        <i class="fa fa-calendar"></i>
			    </div>
			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- New Transaction Modal -->
<div class="modal fade" id="newTransaction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Transaction details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" method="POST" action="">
        	{% csrf_token %}
        	<div class="form-group">
				<label>Account</label>
				<select class="form-control" name="account">
					<option selected disabled>--Select account--</option>
					{% for account in accounts %}
					<option value="{{ account.pk }}">{{ account }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<label>Transaction type</label>
				<select class="form-control" name="transaction_type">
					<option selected disabled>--Transaction type--</option>
					<option value="Deposit">Deposit</option>
					<option value="Wthdraw">Withdraw</option>
				</select>
			</div>
			<div class="form-group">
				<label>Amount</label>
				<input type="text" name="amount" class="form-control" placeholder="Transaction amount">
			</div>
			<div class="form-group">
				<label>Description</label>
				<textarea class="form-control" name="description"></textarea>
			</div>
			<div class="input-group date" data-provide="datepicker">
			    <input type="text" class="form-control" data-date-format="yyyy-mm-dd" name="transaction_date" placeholder="Pick date">
			    <div class="input-group-append">
			        <i class="fa fa-calendar"></i>
			    </div>
			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}