{% extends "base.html" %}
{% load humanize %}

{% block title %}Sacco Transactions{% endblock %}

{% block page_title %}Latest Sacco Transactions List{% endblock %}

{% block content %}
<section class="page-head">
	<div class="row">
		<div class="page-nav">
			<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#newTransaction">
			  <i class="fa fa-plus"></i> New transaction
			</button>
			<a class="btn btn-success pull-right" href="{% url 'sacco:sacco_accounts' %}">
			  <i class="fa fa-bank"></i> Sacco Accounts
			</a>
		</div>
	</div>
</section>

<section class="page-body">
	<div class="row">
		<div class="transaction-list">

			{% if messages %}
			{% for message in messages %}
			<div {% ifequal message.tags "error" %} class="alert alert-danger" {% else %} class="alert alert-{{ message.tags }}" {% endifequal %}>
			{{ message }}
			</div>
			{% endfor %}
			{% endif %}

			<table class="table">
				<thead class="thead-dark">
					<th>Transaction #</th>
					<th>Account</th>
					<th>Transaction</th>
					<th>Amount</th>
					<th>Date</th>
					<th class="text-center">Action</th>
				</thead>
				<tbody>
					{% for transaction in transactions %}
					<tr>
						<td>{{ transaction.pk }}</td>
						<td>{{ transaction.account }}</td>
						<td>{{ transaction.transaction_type }}</td>
						<td>
							{% ifequal transaction.transaction_type "Deposit" %}
							<span style="color: green;">
								<i class="fa fa-upload"></i> {{ transaction.amount|intcomma }}
							</span>
							{% else %}
							<span style="color: red;">
								<i class="fa fa-download"></i> {{ transaction.amount|intcomma }}
							</span>
							{% endifequal %}
						</td>
						<td>{{ transaction.transaction_date }}</td>
						<td class="text-center">
							<div class="dropdown">
							  <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <i class="fa fa-cog"></i>
							  </button>
							  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							    <a class="dropdown-item" href="{% url 'sacco:edit_transaction' transaction.pk %}"><i class="fa fa-edit"></i> Edit</a>
							    <a class="dropdown-item" href="{% url 'sacco:delete_transaction' transaction.pk %}" onclick="return confirm('This action is irreversible. Are you sure?');"><i class="fa fa-trash-o"></i> Delete</a>
							  </div>
							</div>
						</td>
					</tr>
					{% empty %}
					<tr>
						<td colspan="4" class="text-center"><h2>No Sacco transactions to display!</h2></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</section>

<!-- New Transaction Modal -->
<div class="modal fade" id="newTransaction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Transaction details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" method="POST" action="{% url 'sacco:add_transaction' %}">
        	{% csrf_token %}
        	<div class="form-group">
				<label>Account</label>
				<select class="form-control" name="account">
					<option selected disabled>--Select account--</option>
					{% for account in accounts %}
					<option value="{{ account.pk }}">{{ account }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<label>Transaction type</label>
				<select class="form-control" name="transaction_type">
					<option selected disabled>--Transaction type--</option>
					<option value="Deposit">Deposit</option>
					<option value="Withdraw">Withdraw</option>
				</select>
			</div>
			<div class="form-group">
				<label>Amount</label>
				<input type="text" name="amount" class="form-control" placeholder="Transaction amount">
			</div>
			<div class="form-group">
				<label>Description</label>
				<textarea class="form-control" name="description"></textarea>
			</div>
			<div class="input-group date" data-provide="datepicker">
			    <input type="text" class="form-control" data-date-format="yyyy-mm-dd" name="transaction_date" placeholder="Pick date">
			    <div class="input-group-append">
			        <i class="fa fa-calendar"></i>
			    </div>
			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}