{% extends "base.html" %}

{% block title %}Expense Categories{% endblock %}

{% block page_title %}Expense Categories{% endblock %}

{% block content %}
<section class="page-head">
	<div class="row">
		<div class="page-nav">
			<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#newCategory">
			  <i class="fa fa-plus"></i> New category
			</button>
		</div>
	</div>
</section>

<section class="page-body">	
	<div class="row">
		{% for category in categories %}
		<div class="col-md-3">
			<a href="">
			<div class="card category text-center">
				<div class="card-body">
					<h3>{{ category.category_name }}</h3>
				</div>
				<div class="card-footer">
					<a href="{% url 'expense:edit_category' category.pk %}" style="color: green;"><i class="fa fa-edit"></i></a>

					<a href="{% url 'expense:delete_category' category.pk %}" style="color: red;" onclick="return confirm('This action is irreversible. Are you sure?')"><i class="fa fa-trash-o"></i></a>
				</div>
			</div>
			</a>
		</div>
		{% empty %}
		<h3 class="text-center">No categories to display!</h3>
		{% endfor %}
	</div>
</section>

<!-- New Category Modal -->
<div class="modal fade" id="newCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Category details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" method="POST" action="{% url 'expense:new_category' %}">
        	{% csrf_token %}
        	<div class="form-group">
        		<label>Category name</label>
        		<input type="text" name="category_name" class="form-control" placeholder="Category name">
        	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}